/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--basic_text, "Inter-Variable"), sans-serif;
  font-variation-settings: "wght" var(--weight_normal), "slnt" 0;
  background-color: var(--bg_color);
  color: var(--text_color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--color_gradient-top) 0,
      var(--color_gradient-top) 2px,
      var(--color_gradient_bottom) 2px,
      var(--color_gradient_bottom) 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--color_gradient-top) 0,
      var(--color_gradient-top) 2px,
      var(--color_gradient_bottom) 2px,
      var(--color_gradient_bottom) 4px
    ),
    linear-gradient(180deg, var(--color_linear_top), var(--color_lineat_bottom));
  background-attachment: fixed;
  background-size: cover;
}

/* ШАПКА САЙТА */

.header {
  max-width: 700px;
  margin: var(--interval-xl) auto;
  background-color: var(--bg_color);
  border: 2px solid var(--text_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent_text), fantasy;
  text-transform: uppercase;
}
/* ЗАГОЛОВОК ШАПКИ САЙТА */

.title_header {
  line-height: var(--line_height-xxl);
  color: var(--text_color);
  padding: var(--interval-l) 0 var(--interval-s) 0;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

/* ПОДЗАГОЛОВОК ШАПКИ САЙТА */

.text_title {
  font-weight: var(--weight_normal);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding: 1px 0 25px 0;
  line-height: var(--line_height-l);
}

/* МЕНЮ */

.theme-menu {
  display: flex;
  justify-content: space-between;
  color: var(--text_color);
}

.theme-menu__item {
  position: relative;
  color: var(--text_color);
  font-size: 14px;
  font-family: var(--accent_text), fantasy;
  font-weight: var(--weight_normal);
  line-height: var(--line_height-xs);
}
/* ПУНКТ МЕНЮ */

.theme-menu__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 25px 13px;
}

/* КНОПКА МЕНЮ */

.theme-menu__button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s;
  padding-left: auto;
  padding-right: 0;
}

/* ФОКУС НА КНОПКИ МЕНЮ */
.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: var(--accent_color);
  transition: 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 95%;
}

.theme-menu__button:focus-visible {
  color: var(--accent_color);
}

/* -------------------------------------- */

/* ХОВЕР НА КНОПКЕ МЕНЮ */

.theme-menu__button:hover {
  border: none;
  outline: none;
  color: var(--accent_color);
}

/* --------------------------------------------- */

/* ДВИГАЮЩАЯСЯ СТРЕЛОЧКА НА ВЫБРАННОМ ПУНКТЕ МЕНЮ */

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -8px;
  top: 0px;
  color: var(--accent_color);
  animation: menu 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  color: var(--accent_color);
  pointer-events: none;
  /* animation: list 0.3s 1 ease normal; */
}

/* ------------------------------------------------ */
/* ОСНОВНОЙ КОНТЕНТ САЙТА */
.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: var(--interval-xl) auto 0 auto;
}

/* СЕКЦИЯ / КАРТОЧКА */

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg_color);
  border: 2px solid var(--text_color);
}

/* ЗАГОЛОВОК КАРТОЧКИ */

.title_section {
  font-variation-settings: "wght" var(--weight_bold), "slnt" 0;
  font-size: 18px;
  padding-block: 5px;
  padding-inline: 10px;
  text-align: left;
  line-height: 22px;
  font-style: normal;
}

/* БЛОК С КАРТИНКОЙ И ВОТЕРМАРКОЙ */

.card_picture {
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px solid var(--text_color);
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* ФИЛЬТРЫ НА КАРТИНКИ */

.picture-filter-rotate {
  filter: hue-rotate(-10deg);
}

.picture-filter-sepia {
  filter: sepia(50%);
}

.picture-filter-invert {
  filter: invert(0.2);
}

.picture-filter-mix {
  filter: hue-rotate(-00deg) sepia(0.1) saturate(90%);
}

.picture-filter-contrast {
  filter: contrast(70%);
}

.picture-filter-brightness {
  filter: brightness(50%);
}

.picture-filter-opacity {
  filter: opacity(0.9);
}

/* ВОТЕРМАРКА НА КАРТИНКЕ */

.watermark {
  opacity: 0.5;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line_height-xs);
  mix-blend-mode: hard-light;
  position: absolute;
  top: 28px;
  right: 25px;
  z-index: 1;
  color: var(--text_color);
  font-family: var(--accent_text), monospace;
  text-shadow: -1px 0 var(--watermark-shadow), 0 1px var(--watermark-shadow),
    1px 0 var(--watermark-shadow), 0 -1px var(--watermark-shadow);
}

@supports (
  (text-stroke: 1px var(--watermark-shadow)) or
    (-webkit-text-stroke: 1px var(--watermark-shadow))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-shadow);
    text-stroke: 1px var(--watermark-shadow);
    text-shadow: none;
  }
}

/* --------------------------------- */

/* ТЕКСТ КАРТОЧКИ ИЗ НЕСКОЛЬКИХ ПАРАГРАФОВ */

.text_section {
  justify-content: space-between;
  font-size: 18px;
  padding: 25px 25px 23px 25px;
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.text_section-general {
  font-variation-settings: "wght" var(--weight_normal), "slnt" 0;
  letter-spacing: 1px;
  text-align: left;
  line-height: var(--line_height-s);
  font-size: 18px;
}

/* КНОПКИ СЕРДЕЧКО И ЛАЙК */

.likes-element {
  padding: 0 26px 18px 0;
  align-items: center;
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: end;
  color: var(--bg_color);
  font-size: 14px;
  font-weight: 400;
  line-height: var(--line_height-xxs);
  font-family: var(--accent_text, "PressStart2P"), sans-serif;
}

/* КНОПКА ЛАЙК */

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  background-color: transparent;
  border: 2px solid var(--text_color);
  cursor: pointer;
  transition: 0.3s;
}

/* ФОКУС НА КНОПКУ ЛАЙК */

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color);
}

.card__like-button::before {
  z-index: 1;
  content: "";
  inset: 0;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--text_color);
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before {
  width: 100%;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color-reverse);
}

/* КНОПКА СЕРДЕЧКО */

.card__icon-button {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: fill 0.3s linear;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text_color);
}

/* СЛОИ СЕРДЕЧКА
ИСКРЫ */

.sparks {
  opacity: 0;
}

/* ОСНОВНАЯ ЗАЛИВКА */

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--body-heart-hover);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--body-heart-active);
  transition: fill 0.3s 0.05s linear;
}
/* СЕРДЕВИНА*/

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .contour {
  transition: fill 0.3s 0.06s linear;
}

/* ИЗМЕНЕНИЯ ПРИ РАЗНЫХ СОСТОЯНИЯХ */

.like-icon:hover .core {
  fill: var(--body-heart-hover);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--body-heart-active);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--body-heart-active);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--body-heart-active);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--body-heart-active);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .sparks {
  fill: var(--body-heart-active);
  animation: sparks 0.3s 0.01s 1 ease-in alternate;
}

.heart:active {
  fill: var(--body-heart-active);
  animation: heart 0.3s 0.01s 1 ease-in alternate;
}

/* -------------------------------------------------- */
/* ПОДВАЛ САЙТА */

.footer {
  margin: 0 0 103px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg_color);
  font-size: 14px;
  font-weight: 400;
  line-height: var(--line_height-xxs);
  font-family: var(--accent_text, "PressStart2P"), sans-serif;
}

.footer_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 16.5px 21px;
  background-color: var(--bg_color);
  border: 2px solid var(--text_color);
  cursor: pointer;
  transition: 0.3s;
}

.footer_button:focus {
  outline: none;
}

.footer_button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color);
}

.footer_button::before {
  z-index: 1;
  content: "";
  inset: 0;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--text_color);
  transition: 0.5s ease-in-out;
}

.footer_button:hover::before {
  width: 100%;
}

.footer_disceta {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  color: var(--text-color-reverse);
  mix-blend-mode: difference;
}

/* МОДАЛЬНОЕ ОКНО */

dialog {
  max-width: 353px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
  background-color: var(--bg_color);
  position: fixed;
  overflow-wrap: break-word;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--text_color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.form-dialog {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-dialog {
  position: relative;
  z-index: 3;
  font-family: var(--accent_text), fantasy;
  font-size: 14px;
  line-height: var(--line_height-s);
  mix-blend-mode: difference;
  color: var(--text-color-reverse);
  max-width: 234px;
  font-weight: 400;
  text-transform: uppercase;
}
.dialog-disceta {
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 2;
  color: var(--text-color-reverse);
  mix-blend-mode: difference;
}

.dialog-button {
  position: relative;
  padding: 8.5px 128px;
  background-color: transparent;
  border: 2px solid var(--text_color);
  cursor: pointer;
}

.dialog-button:focus {
  outline: none;
}

.dialog-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color);
}

.dialog-button::before {
  z-index: 1;
  content: "";
  inset: 0;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--text_color);
  transition: 0.5s ease-in-out;
}

.dialog-button:hover::before {
  width: 100%;
}

/* МЕДИАЗАПРОС ДЛЯ МАЛЕНЬКОГО ЭКРАНА */

@media (width <= 700px) {
  .header {
    margin: 100px 0;
  }

  .container {
    margin: 0;
  }

  .title_header {
    padding: 113px 14px 7px 14px;
  }

  .text_title {
    padding: 0 0 18px 0;
  }

  .watermark {
    top: 24px;
    right: 12px;
  }
  .footer_button {
    flex-direction: column;
  }
  .footer_disceta {
    width: 28px;
    height: 28px;
  }

  dialog {
    max-width: 341px;
  }

  .dialog-button {
    padding: 8.5px 124px;
  }

  .text-dialog {
    max-width: 198px;
  }
}
